body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.btn{
    width: 75px;
    height: 75px;
    margin: 15px;
    font-size: 40px;
}

.number{
    border: 1px solid green;
    border-radius: 10px;
}

.number:hover{
    background-color: lightgreen;
}

.operator{
    border: 1px solid blue;
    border-radius: 10px;
}

.operator:hover{
    background-color: lightblue;
}

.decimal{
    border: 1px solid purple;
    border-radius: 10px;
}

.decimal:hover{
    background-color: plum;
}

.equal{
    border: 1px solid red;
    border-radius: 10px;
}

.equal:hover{
    background-color: lightcoral;
}

#clear-btn{
    border: 1px solid purple;
    border-radius: 10px;
}

#clear-btn:hover{
    background-color: plum;
}

.first-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#screen{
    width: 300px;
    height: 75px;
    border: 1px solid salmon;
    border-radius: 10px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.previous{
    font-size: 20px;
}

.current{ 
    font-size: 30px;
}